<section id="tutorial">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
    <p>New Order is a Windows application allowing you to split your screens in zone, then move any window to a previously defined zone via a keyboard shortcut.</p>
    <p>Usage:</p>
    <ul>
        <li>Download and run the setup <a href="/Releases/Setup.exe">here</a>. A new icon should appear in the system tray
            <img src="/images/screen-icon.png" alt="Zone Editor"></li>
            <li>Click this icon to open the zone editor
                <img src="/images/screen-home.png" alt="Zone Editor"></li>
                <li>Add zones by clicking the zone splitting buttons
                    <img src="/images/screen-addzone.png" alt="Add a zone"></li>
                    <li>Remove zones by clicking the cross buttons
                        <img src="/images/screen-removezone.png" alt="Remove an existing zone"></li>
                        <li>Save your layout by clicking the first icon. The zone editor should be closed now.</li>
                        <li>Use Ctrl+Windows+[Left,Right] to move the current window to the next or previous zone.
                            <img src="/images/screen-result.png" alt="Help screen with shortcuts"></li>
                            <li>Use Ctrl+Windows+[Up,Down] to maximize or minimize the current window</li>
                            <li>The rest of the shortcuts is here in the help screen: <img src="/images/screen-help.png" alt="Help screen with shortcuts"></li>
                        </ul>
                        </div>
                        </div>
                        </div>
                    </section>
